<header id="header" class="clearfix">

<div class="container">

  <div class="row">
    <div class="span4">
      <div id="social_networks-2">
        <ul class="social-networks">
          <li>
            <a rel="external" title="facebook" href="https://www.facebook.com/helendeverhalen">
              <img src="{{ site.baseurl }}/assets/images/icons/facebook.png" alt="Icon for facebook">
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="span6 offset2">

      <div id="text-2">
        <div class="textwidget">
          <script type="text/javascript">/*<![CDATA[*/var a=new Array(".com","gmail","@","rossum","van","tje","geer");document.write("<a href='mailto:");for(i=a.length-1;i>=0;i--){document.write(a[i])}document.write("?subject=Contact'<a>neem contact op</a>");/*]]>*/
          </script>
        </div>
      </div>

      <div id="search-3">
        <a href="/search/">
          <img src="{{ site.baseurl }}/assets/images/bg_submit2.png" alt="Search icon">
        </a>
      </div>

    </div>

  </div>

</header>

<section id="afterHeaderArea">
  <div class="container">
    <div class="row">

{% if page.block-menu != false %}


      {% if page.url == '/index.html' %}
      <div class="logo span4 home">
      {% else %}
      <div class="logo span4">
      {% endif %}
        <a href="{{ site.baseurl }}/" id="logo">
          <img src="{{ site.baseurl }}/assets/images/logo.png" alt="Helende verhalen" title="{{ site.title }}">
        </a>
      </div>

      <nav class="primary span8">
        <div class="clearfix">
          <ul id="topnav" class="sf-menu">
            {% for p in site.pages %}
              {% if p.title %}
                {% if p.image-position == 'top' %}
                <li id="menu-item-X" class="menu-item menu-item-type-post_type menu-item-object-page has-image">
                  <a href="{{ p.url | prepend: site.baseurl }}">
                    <div class="front">
                    <img width="140" height="140" src="{{ site.baseurl }}/assets/images/{{ p.image }}"
                        class="attachment-full wp-post-image" alt="Icon for page {{ p.title }}" title="{{ p.title }}" />
                    <span class="page-title">{{ p.title }}</span>
                    </div>
                    <div class="back">
                      <img class="imgOver" src="{{ sitebase.url }}/assets/images/{{ p.image2 }}" >
                    </div>
                    <img class="imgOut" src="{{ sitebase.url }}/assets/images/{{ p.image }}" >
                  </a>
                </li>
                {% endif %}
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </nav>

      {% if page.url == '/index.html' %}
      <section id="sliderNavArea" class="home">
      {% else %}
      <section id="sliderNavArea" class="single">
      {% endif %}
        <section id="leftNavBlock" class="span2">
          <div id="nav_menu-2">
            <div class="menu-left-menu-container">
              <ul id="menu-left-menu" class="menu">
                {% for p in site.pages %}
                {% if p.title %}
                {% if p.image-position == 'left' %}
                <li id="menu-item-X" class="menu-item menu-item-type-post_type menu-item-object-page has-image">
                  <a href="{{ p.url | prepend: site.baseurl }}">
                    <div class="front">
                      <img with="140" height="140" src="{{ site.baseurl }}/assets/images/{{ p.image }}"
                           class="attachment-full wp-post-image" alt="{{ p.title }}" title="{{ p.title }}" />
                      <span class="page-title">{{ p.title }}</span>
                    </div>
                    <div class="back">
                      <img class="imgOver" src="{{ sitebase.url }}/assets/images/{{ p.image2 }}" >
                    </div>
                      <img class="imgOut" src="{{ sitebase.url }}/assets/images/{{ p.image }}" >
                  </a>
                </li>
                {% endif %}
                {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </section>

        {% if page.url == '/index.html' %}
        <section id="sliderWrap" class="span8">
          <div class="textwidget">
            <div style="max-width: 770px;" class="metaslider metaslider-flex metaslider-46 ml-slider">
              <div id="metaslider_container_46">
                <div id="metaslider_46" class="slides">
                  <iframe src="https://www.youtube.com/embed/4l1K3F6AwXE" >
                </div>
              </div>
            </div>
          </div>
        </section>
        {% endif %}

        <section id="rightNavBlock" class="span2">
          <div id="nav_menu-3">
            <div class="menu-right-menu-container">
              <ul id="menu-right-menu" class="menu">
                {% for p in site.pages %}
                  {% if p.title %}
                    {% if p.image-position == 'right' %}
                    <li id="menu-item-X" class="menu-item menu-item-type-post_type menu-item-object-page has-image">
                      <a href="{{ p.url | prepend: site.baseurl }}">
                        <div class="front">
                        <img with="140" height="140" src="{{ site.baseurl }}/assets/images/{{ p.image }}"
                            class="attachment-full wp-post-image" alt="{{ p.title }}" title="{{ p.title }}" />
                        <span class="page-title">{{ p.title }}</span>
                        </div>
                        <div class="back">
                          <img class="imgOver" src="{{ sitebase.url }}/assets/images/{{ p.image2 }}" >
                        </div>
                        <img class="imgOut" src="{{ sitebase.url }}/assets/images/{{ p.image }}" >
                      </a>
                    </li>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </section>
      </section>
      {% if page.url == '/index.html' %}

      {% endif %}

{% else %}
<br />
{% endif %}
    </div>
  </div>
</section>


{% if page.url == '/index.html' %}
<section id="bannerArea">
  <div class="container">
    <div class="row">
    </div>
  </div>
</section>




<section id="carouselAreaDisableLoading">
  <div class="container" style="opacity: 1">
    <div class="row">
      <div class="span12">
        <div id="my_fredcarouselwidget-2">
          <h2>op verhaal komen</h2>
          <p class="title_descr">gun je kind een goed gevoel</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endif %}


{% if page.url != '/index.html' %}

<section id="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="span12 breadcrumb" style="opacity: 1;">
        <span xmlns:ib="http://rdf.data-vocabulary.org/#">
          <div class="ib-trail">
          <ul>
            <li class="ib-crumb ib-added menu-item menu-item-home">
              <span typeof="ib:Breadcrumb">
                <a href="{{ site.url }}" rel="ib:url" property="ib:title">Welkom</a>
              </span>
            </li>
            <li class="ib-crumb ib-added menu-item ib-lastcrumb current-menu-item menu-item-type-post_type menu-item-object-page">
              <a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a>
            </li>
          </ul>
        </div>
        </span>
      </div>
    </div>
  </div>
</section>

{% endif %}

